In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

data = pd.read_csv('loanf.csv')
data.head()

    Interest.Rate  FICO.Score  Loan.Length  Monthly.Income  Loan.Amount
6           15.31         670           36         4891.67         6000
11          19.72         670           36         3575.00         2000
12          14.27         665           36         4250.00        10625
13          21.67         670           60        14166.67        28000
21          21.98         665           36         6666.67        22000

In [11]:
data['TF'] = data['Interest.Rate'] <= 12
data.head()

    Interest.Rate  FICO.Score  Loan.Length  Monthly.Income  Loan.Amount     TF
6           15.31         670           36         4891.67         6000  False
11          19.72         670           36         3575.00         2000  False
12          14.27         665           36         4250.00        10625  False
13          21.67         670           60        14166.67        28000  False
21          21.98         665           36         6666.67        22000  False

In [18]:
# define feature and target
X = data[['FICO.Score', 'Loan.Amount']]
y = data['TF']

# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#create and train logistic regression model
model = LogisticRegression()
model.fit(X_train,y_train)

# make predictions of the testing set
y_pred = model.predict(X_test)

# get accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# confusion matrix
con_matrix = confusion_matrix(y_test, y_pred)
print(f'Confusion Matrix:\n {con_matrix}')

# classification report
class_report = classification_report(y_test, y_pred)
print(f'Classification Report:\n {class_report}')

Accuracy: 0.626
Confusion Matrix:
 [[226  74]
 [113  87]]
Classification Report:
               precision    recall  f1-score   support

       False       0.67      0.75      0.71       300
        True       0.54      0.43      0.48       200

    accuracy                           0.63       500
   macro avg       0.60      0.59      0.59       500
weighted avg       0.62      0.63      0.62       500